.main-div
{
    width: 80%;
    display: flex;
}
.main-div div
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}
li
{
    margin-bottom: 10px;
}
