h2{
    text-align: center;
}
.product
{
    width: 15%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: .4s;
    background-color: white;
    overflow: hidden;
}
.product:hover{
    transform: translate(0px, -20px);
}
img
{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
button
{
    text-align: center;
    width: 100%;
    font-size: 23px;
    color: rgb(255, 255, 255);
    padding: 15px;
    border:0;
    outline: none;
    cursor: pointer;
    background: rgb(61, 61, 185);
    transition: .4s;
}
button:hover
{
    background: rgb(27, 27, 104);
}
.rating
{
    color: rgb(224, 161, 78);
    font-size: 25px;
}
.price
{
    color: rgb(61, 61, 185);
    font-size: 20px;
    font-weight: 600;
}
@media(max-width:1000px)
{
    .product
    {
        width: 35%;
    }
}
@media(max-width:750px)
{
    .product
    {
        width: 80%;
    }
}