<nav>
    <a routerLink="apple"><img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/apple.png" alt="Apple"></a>
    <a routerLink="asus"><img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/asus.png" alt="Asus"></a>
    <a routerLink="hp"><img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/hp.png" alt="HP"></a>
    <a routerLink="acer"><img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/acer.png" alt="Acer"></a>
    <a routerLink="lenovo"><img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/lenovo.png" alt="Lenovo"></a>
    <a routerLink="samsung"><img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/samsung.png" alt="Samsung"></a>
    <a routerLink="dell"><img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/dell.png" alt="Dell"></a>
    <a routerLink="canon"><img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/canon.png" alt="Canon"></a>
    <a routerLink="tp-link"><img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/logo/tp-link.png" alt="Tp-Link"></a>
    <a routerLink="logitech"><img src="https://video.rozetka.com.ua/img_superportal/gaming/gaming-main/logitech.jpg" alt="Logitech"></a>
</nav>