<body>
  <div class="row">
    <app-product [imageName]="'Ноутбуки'" [imageSrc]="'https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/noutbuki.png'"></app-product>
    <app-product [imageName]="'Компьютеры'" [imageSrc]="'https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/kompyutery.png'"></app-product>
    <app-product [imageName]="'Мониторы'" [imageSrc]="'https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/monitory.png'"></app-product>
    <app-product [imageName]="'Gaming'" [imageSrc]="'https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/tovary-dlya-gejmerov.png'"></app-product>
    <app-product [imageName]="'Планшеты'" [imageSrc]="'https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/planshety.png'"></app-product>
    <app-product [imageName]="'Кабели и переходники'" [imageSrc]="'https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/kabeli-i-perekhodniki.png'"></app-product>
    <app-product [imageName]="'Компьютерные комплектующие'" [imageSrc]="'https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/kompyuternye-komplektuyushchie.png'"></app-product>
    <app-product [imageName]="'Сетевое оборудование'" [imageSrc]="'https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/setevoe-oborudovanie.png'"></app-product>
    <app-product [imageName]="'Наушники и аксессуары'" [imageSrc]="'https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/naushniki-i-aksessuary.png'"></app-product>
    <app-product [imageName]="'Клавиатуры и мыши'" [imageSrc]="'https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/klaviatury-i-myshi.png'"></app-product>
    <app-product [imageName]="'Аксессуары для электроники'" [imageSrc]="'https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/aksessuari-dlia-elektronyky.png'"></app-product>
    <app-product [imageName]="'Оргтехника'" [imageSrc]="'https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/ofisnaya-tekhnika.png'"></app-product>
  </div>
</body>